*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
p{
    color: #6e6e6e;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background: rgb(80,50,114);
background: linear-gradient(353deg, rgba(80,50,114,1) 0%, rgba(242,242,242,1) 39%);
}

.head{
    padding: 0;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ham{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #f2f2f2b9;
    width: 45px;
    height: 45PX;
    cursor: pointer;
    border-radius: 10PX;
    z-index: 100;
    color: #503272;
}

.menu-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(-225deg,#503272 20%,  #000000 99%);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    padding-left: 50px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    transform: translate(100%);
    z-index: 100;
    font-size: 20px;

}

.spread{
    transform: translate(30%);
}

.menu-nav a{
    color: #f2f2f2;
    text-decoration: none;
}

.menu-icon{
    font-size: 30px;
}

.titulo{
  font-size: 60px;
  margin-bottom: 15px;   
  color: #6e6e6e;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}
.titulo span {
    font-weight: 700;
    color: #503272;
}

.copy{
    font-weight: 100;
    font-size: 25px;
    color: #6e6e6e;
    text-align: center;
}

.button{
    width: 90%;
    padding: 6px 0;
    margin-top: 70px;
    border-radius: 20px;
    font-weight: 900;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    color: #f2f2f2;
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
    background: linear-gradient(-225deg, #9e688f 0%, #503272 100%);

}

.button background:hover{
    background: linear-gradient(-225deg, #25021c 0%, #503272 100%);

}




.contenedor-wide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.saludo{
    font-size: 20px;
    max-width: 550px;
    padding-left: 5%;
}

/* portafolio */
.portafolio-contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    
}
.proyecto{
   min-width: 290px;
   height: 250px;
   margin: 15px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
   border-radius: 4px 40px 40px 40px;
   background-color: #f2f2f2d3;
    margin: 20px 0 20px 0;
    transition: .5s;
    box-shadow: 0 0 6px #503272;
    position: relative;
    overflow: hidden;
}
.proyecto:hover{
    background-color: #00000000;
    color: #6e6e6e00;
}
.proyecto img{
    height: 25%;
    width: 100%;   
    bottom: 0;
    object-fit: cover;
    position: absolute;
    opacity: 0.2;
}

.linkProyecto{
    font-size: 35px;
    margin-top: 20px;
}

.proyecto-info{
    margin: 10px 0 0 20px;
    color: #6e6e6e;
    position: absolute;
}
.proyecto-info h2{
    font-weight: 400;
}
.proyecto-info h3{
    color: #503272;
    margin-bottom: 20px;
}


.proyecto-icon{
    font-size: 20px;
    text-decoration: none;
    color: #503272;
    transition: .3s;
}

.proyecto-icon:hover{
    color: #6e6e6e;
    text-shadow: 2px 2px 5px rgba(80,50,114,0.6);

}

/* ESTUDIOS */

.estudios-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #6e6e6e;
    padding: 30px 0 30px 0;
    color: #CC85B8;
    font-weight: 100;
}

.estudios-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.estudios{
    margin: 20px;
    width: 200px;
    color: #f2f2f2;
}

.estudios h2{
    font-size: 18px;
    font-weight: 400;
}

.estudios h3{
    font-size: 14px;
    color: #CC85B8;
}




/* Mis servicios */

.subtitulo{
    text-align: center;
    font-weight: 400;
    color: #6e6e6e;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}



.service{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.service img {
    margin-top: 10px;
    margin-bottom: 0;
    width: 50%;
    border-radius: 130px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}


.service h2 {
    font-size: 18px;
    color: #7d7d7d;
}
.service h3 {
    font-size: 16px;
    color: #7d7d7d;
}

.gallery{
    color: #f2f2f2;
}
.contenedor-gallery{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 45%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* Expertos en  */

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    color: black;
}

/* Footer */

footer{
    background-image: linear-gradient(180deg,#f2f2f2 40%, #B6CEE8 100%);
    padding-bottom: 0.1px;
    box-shadow: rgba(0,0,0 ,0.5);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #503272;
}

.brand{
    font-weight: 400;
    font-size: 30px;
   
}
.brand+P{
    font-weight: 400;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin:30px 20px 0 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    text-align: center;
    color:#503272;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.social-media-icon:hover{
    
    color: #CC85B8 ;
}

.social-media-icon i{
    font-size: 35px;
    line-height: 60px;
}

.skillSetIcon{
    display: inline-block;
    margin:30px 20px 0 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    text-align: center;
    color:#503272;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
    cursor: default;
}

.skillSetIcon i{
    font-size: 35px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #f2f2f2;
    margin-bottom: 60px;
}

@media screen and (max-width: 930px){
    .menu-nav{
        width: 50vw;
    }
    .head{
        justify-content: center;

    }
    .masInfo{
        margin-top: 30px;
    }
    .titulo{
        font-size: 60px;
        text-align:center;
    }
    .copy{
        font-weight: 400;
    }
   .proyecto{
    filter: grayscale(0);
   }
    .service{
        align-items: inherit;
    }
  
    .contenedor-servicio img{
        width: 55%;
        margin-bottom: 10px;
        margin-top: 70px;
        margin-left: 3px;
    }

    .contenedor-wide{
       flex-direction: column;
       justify-content: space-evenly;
    }
    .checklist{
        width: 80%;
    } 
   
    .agregar-imagen{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .cont-expert{
        width: 60%;
    }

    .estudios-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .estudios{
        margin: 20px;
        width: 200px;
        color: #f2f2f2;
    }
    
    .estudios h2{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    
    .estudios h3{
        font-size: 14px;
        color: #CC85B8;
        text-align: center;
    }

    .footer-content{
        justify-content: center;
    }

    .proyecto-img{
         width: 100%;
         height: 30%;
     }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
    .menu-nav{
        width: 65vw;
    }
    .agregar-imagen{
        width: 90%;
    }
    .ham{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 50px;
        padding-left: 0;
        margin-top: -100px;
    }
    .head{
        justify-content: center;
    }
    .copy{
        font-size: 18px;
       
    }

    .subtitulo{
        font-size: 30px;
    }
    .img-gallery{
        width: 95%;
    }

    .social-media{
        width: 100%;

    }
    .contact-us{
        width: 90%;
    }
}