*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{
    background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 6%, rgba(215,215,215,1) 100%);
}
p{
    color: #5e5e5e;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 100%;
    padding: 60px 0;
    margin: auto;
    
}

.header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background: rgb(80,50,114);
background: linear-gradient(360deg, #290837 0%, rgba(242,242,242,1) 40%);
}

.head{
    padding: 0;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ham{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 45px;
    height: 45PX;
    cursor: pointer;
    border-radius: 10PX;
    z-index: 100;
    color: #503272;
    font-size: 35px;
}



.menu-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(-225deg,#503272 20%,  #000000 99%);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    padding-left: 50px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    transform: translate(100%);
    z-index: 100;
    font-size: 20px;

}

.spread{
    transform: translate(30%);
}

.menu-nav a{
    color: #f2f2f2;
    text-decoration: none;
}

.menu-icon{
    font-size: 30px;
}

main{
    background-color: #290837;
}
.titulo{
  font-size: 60px;
  margin-bottom: 15px;   
  color: #5e5e5e;
  font-weight: 600;
  text-align: center;
  padding-left: 20px;
}
.titulo span {
    font-weight: 700;
    color: #290837;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    color: #5e5e5e;
    text-align: center;
}

.button{
    width: 70%;
    padding: 6px 0;
    margin-top: 70px;
    border-radius: 20px;
    font-weight: 200;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    color:#d7d7d7;
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    background: linear-gradient(-225deg, #9e688f 0%, #290837 100%);

}

.button:hover{
   width: 52%;
   padding: 8px 0;

}


.saludo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding-left: 5%; 
}
.saludo img{
    width: 150px;
    border-radius: 6100%;
    box-shadow: 0px 8px 14px -4px #c05da4b7, 0px -4px 18px -4px #c05da4b7;
}
.saludo h2{
    margin-top: 20px;
    color: #d7d7d7;
    margin-left: 0;
    font-size: 40px;
}
.saludo p{
    color: #d7d7d7;
    max-width: 450px;
    text-align: center;
    padding: 0 10px;
}
.saludo a{
    width: 20%;
}
/* portafolio */

.portafolio-contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.proyecto{
   width: 400px;
   min-width: 290px;
   height: 190px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
   border-radius: 4px 40px 4px 40px;
   background-color: #f2f2f2d3;
    margin: 20px 0 20px 0;
    transition: .3s;
    box-shadow: 0 0 6px #503272;
    position: relative;
    overflow: hidden;
    opacity: 0.8;
}
.proyecto:hover{
    background-color: #f2f2f2;
    color: #6e6e6e00;
    opacity: 1;
}

.proyecto img{
    height: 40%;
    width: 100%;   
    bottom: 0;
    object-fit: cover;
    position: absolute;
   
    left: 0;
}

.linkProyecto{
    font-size: 35px;
    margin-top: 20px;
}

.proyecto a{
    position: absolute;
    top: 0;
    right:0;
    padding-right: 20px;
}

.proyecto-info{
    margin: -76px 0px 0px 15px;
    color: #5e5e5e;
    position: absolute;
}
.proyecto-info h2{
    font-weight: 400;
}
.proyecto-info h3{
    color: #290837;
}


.proyecto-icon{
    font-size: 20px;
    text-decoration: none;
    color: #290837;
    transition: .3s;
}

.proyecto-icon i{
    font-size: 25px;
}

.proyecto-icon:hover{
    color: #c05da4;

}

/* ESTUDIOS */

.estudios-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #290837;
    padding: 30px 0 30px 0;
    color: #c05da4;
    font-weight: 100;
    margin: 60px 0;
}
.estudios-container h2{
    font-size: 30px;
    font-weight: 400;
}
.estudios-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.estudios{
    margin: 20px;
    width: 200px;
    color: #f2f2f2;
}

.estudios h2{
    font-size: 18px;
    font-weight: 400;
    color: #d7d7d7;
}

.estudios h3{
    font-size: 14px;
    color: #c05da4;
    font-weight: 400;
}




/* Mis servicios */

.subtitulo{
    text-align: center;
    font-weight: 400;
    color: #5e5e5e;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
    max-width: 1200px;
    display: flex;
    justify-content:flex-start;
    margin-left: 10%;
}


.gallery{
    color: #f2f2f2;
}
.contenedor-gallery{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 45%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* Expertos en  */

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    color: black;
}

/* Footer */

footer{
    background-image: linear-gradient(180deg,#f2f2f2 60%, #290837 100%);
    padding-bottom: 0.1px;
    box-shadow: rgba(0,0,0 ,0.5);
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

footer h6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c05da4;
    padding-bottom: 2px;
    font-weight: 400;
}
.contact-us{
    width: 40%;
    color: #503272;
}

.brand{
    font-weight: 400;
    font-size: 30px;
   
}
.contact-us p{
    font-weight: 400;
    color: #5e5e5e;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin:30px 20px 0 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    text-align: center;
    color:#290837;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.social-media-icon:hover{
    
    color: #c05da4 ;
}

.social-media-icon i{
    font-size: 35px;
    line-height: 60px;
}

.skillSetIcon{
    display: inline-block;
    margin:30px 20px 0 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    text-align: center;
    color:#290837;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
    cursor: default;
}

.skillSetIcon i{
    font-size: 35px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #f2f2f2;
    margin-bottom: 60px;
}

@media screen and (max-width: 930px){
    .menu-nav{
        width: 50vw;
    }
    .head{
        justify-content: center;

    }
    .masInfo{
        margin-top: 30px;
    }
    .titulo{
        font-size: 60px;
        text-align:center;
    }
    .copy{
        font-weight: 400;
    }
   .proyecto{
    filter: grayscale(0);
    margin: 30px 20px;
   }
    .saludo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }
    .saludo p{
        text-align: center;
    }
    .saludo a{
        width: 50%;
    }
    .contenedor-saludo{
       flex-direction: column;
       justify-content: space-evenly;
    }
    .checklist{
        width: 80%;
    } 
   
    .agregar-imagen{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .cont-expert{
        width: 60%;
    }

    .estudios-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .estudios{
        margin: 20px;
        width: 200px;
        color: #f2f2f2;
    }
    
    .estudios h2{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        
    }
    
    .estudios h3{
        font-size: 14px;
        color: #CC85B8;
        text-align: center;
    }

    .footer-content{
        justify-content: center;
    }

    .proyecto-img{
         width: 100%;
         height: 30%;
     }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
    .menu-nav{
        width: 65vw;
    }
    .agregar-imagen{
        width: 90%;
    }
    .ham{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 50px;
        padding-left: 0;
        margin-top: -100px;
    }
    .head{
        justify-content: center;
    }
    .copy{
        font-size: 18px;
       
    }

    .subtitulo{
        font-size: 30px;
        margin-left: 0;
        justify-content: center;

    }
    .img-gallery{
        width: 95%;
    }

    .social-media{
        width: 100%;

    }
    .contact-us{
        width: 90%;
    }
}